<div class="container__big-card">
  <a href="#">
  <div class="big-card__img">
    <img src="https://cdn.vox-cdn.com/thumbor/9HfS_-ugBoHDaLskP6ssJ8_nIkY=/0x22:1584x851/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/24415978/rick_and_morty_s4_image.png"
      alt="ilustração">
  </div>
  <div class="big-card__title">
    <h1>Seriado Rick and Morty lança a oitava temporada!</h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni incidunt vero totam mollitia
      recusandae quos natus, dolorem dolor tenetur dicta quas voluptatibus, minima consectetur quod
      sit laudantium temporibus veritatis exercitationem.</p>
  </div>
  </a>
</div>
